
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    background-color: black;
    
}
    
h1 {
    text-align: center;
    margin: 0;
    size: 100px;
    align-items: center;
    text-align: center;
    margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;

}
nav {
         background-color: #333;
         overflow: hidden;
         position: sticky;
        top: 0;
         z-index: 100;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
        }

        nav a:hover {
            color: #ddd;
            border-bottom: 2px solid #ddd;
        }
    .name{
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: 100vh;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.name::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.75;
}
.name h1{
    color: floralwhite;
}
.name p{
    color: floralwhite;
}
    
        
form {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
main{
    background-color: black;
    color: floralwhite;
    height: 100%;
}

.card-container {
background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
  }
  .card-container h1{
      color: floralwhite;
  }
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    width: 250px;
    transition: 0.3s;
    background-color: #030303;
   
  }
  
  .card h2 {
    color: #080808;
  }
  
  .card p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 17, 17);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .welcome{
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.welcome::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.welcome h1{
    color: floralwhite;
}
.welcome p{
    color: floralwhite;
}
.story{
    margin-top: 20px;
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.story::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.story h1{
    color: floralwhite;
}
.story p{
    color: floralwhite;
}
.offer{
    margin-top: 20px;
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.offer::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.offer h1{
    color: floralwhite;
}
.offer p{
    color: floralwhite;
}
.space{
    margin-top: 20px;
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.space::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.space h1{
    color: floralwhite;
}
.space p{
    color: floralwhite;
}
.mission{
    margin-top: 20px;
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.mission::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.mission h1{
    color: floralwhite;
}
.mission p{
    color: floralwhite;
}
.join{
    margin-top: 20px;
  display:grid;
  box-sizing: border-box;
  background-color:#81917157;
  height: auto;
  width: 100vw;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  position: relative;
  isolation: isolate;
  
}
.join::after{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(bg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
.join h1{
    color: floralwhite;
}
.join p{
    color: floralwhite;
}
  h2 { 
    size: large;
    font-size: xx-large;
    color: floralwhite;
    align-items: center;
    text-align: center;
    margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }

  .gel h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .email {
    color: #fff;
  }

  .honey {
    color: #fff;
    
  }
  .socials {
    color: #fff;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.nikol {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
footer {
    padding-top: 40px;
    font-size: small;
    height: 80px;
    width: 100vw;
    background-color: #080808;
}
